# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Data & Outputs
# ----------------------------
data/
models/
reports/figures/

# ----------------------------
# Virtual Environments
# ----------------------------
.env
.venv/
venv/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# ML / DL Files
# ----------------------------
*.pt
*.pth
*.h5
